[submodule ".registry"]
	path = .registry
	url = https://github.com/wwbrannon/wwbrannon.r-universe.dev
	branch = HEAD
[submodule "arl"]
	path = arl
	url = https://github.com/wwbrannon/arl
[submodule "sqlscore"]
	path = sqlscore
	url = https://github.com/wwbrannon/sqlscore
